@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    color:#388087;
}

:root{
    font-size:1rem;
    font-weight: 400;
}
.sidebar_div{
    /* position: sticky; */
    /* position: ; */
    background-color: #388087;
    height: 100%;
    width: 7rem;
    border: 0.5px solid #388087;
    overflow: hidden;
    /* border-radius:1rem; */
}


.navigation_menu{
    width: 100%;
    /* position: absolute; */
    /* height: 100%; */
    /* margin-top: 3rem; */
    /* display: flex; */
    height: 100%;

}
.navigation_menu>div{
    /* width: 100%; */
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    /* margin: 1rem; */
    font-size: 0.9rem;
}

.navigation_menu>div>a>i{
    font-size: 1.6rem;
}

i:hover{
    color: #000;
}
div{
    color:#f6f6f2;
} 
 i{
    color: #f6f6f2;
} 

.a{
    text-decoration: none;
}
.text_color{
    color: #388087;
}